  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
.welcome-section {
	padding-top: 110px;
	padding-bottom: 80px;
}
.after-welcome-section {
	padding-top: 80px;
	
}